body {
    background: #CCCCCC;
}
#banner{
    width: 100%
}
.principal{
    background: #CCCCCC
}
h1{
    color: rgb(50, 122, 204);
    background: black;
    text-align: center;

}
p {
    text-align:center;  
    font-size: 35px ;
}

#missao{
    font-size: 30px
}

em strong {
    color: blue;
}

.itens{
    font-style: italic;
}

.benefícios {
    background: floralwhite;
}

h2 {
    text-align: center;
}